.link_btn:hover {
  background-color: #526cbb;
  color: #fff;
}

.link_btn {
  width: 45%;
  min-height: 35px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #526cbb;
  background-color: #fff;
  color: #526cbb;
  transition: all 0.5s;
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-bg .hover-text {
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* -------------------------------Custom About Section------------------------------- */

/* About Section */
#customAbout {
  padding: 100px 0;
  background: #f6f6f6;
}

#customAbout .customRow {
  display: flex;
  justify-content: center;
  gap: 24px;
}

#customAbout .about-text {
  /* height: 267px; */
  /* margin-left: 10px; */
}

#customAbout img {}

#customAbout p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.2;
}

#customAbout p:nth-child(2) {
  line-height: 1.7;
}

#customAbout p:nth-child(3) {
  font-weight: 700;
  color: #000;
}

#customAbout p:first-child {
  margin-top: 0;
}

/* -------------------------------portfolio start btn------------------------------- */
#portfolio .portfolioStartBtn {
  text-align: center;
}

#portfolio .portfolioStartBtn .startBtn {
  position: relative;
  font-size: 16px;
  color: #526cbb;
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: none;
  transition: all .3s;
}

#portfolio .portfolioStartBtn .startBtn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 300%;
  background: conic-gradient(#526cbb 0deg,
      #526cbb 180deg,
      transparent 180deg,
      transparent 360deg);
  transform: translate(-50%, -50%);
  animation: rotateBorder 2s linear infinite;
  z-index: -2;
}

#portfolio .portfolioStartBtn .startBtn::after {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #fff;
  border-radius: 6px;
  z-index: -1;
}

#portfolio .portfolioStartBtn .startBtn:hover {
  color: #fff;
}

#portfolio .portfolioStartBtn .startBtn:hover::after {
  background-color: #526cbb;
}

/* -------------------------------//portfolio start btn------------------------------- */

/* -------------------------------playPortFolio------------------------------- */
#portfolio .playPortFolio {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#portfolio .playPortFolio.PPactive {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 999;
  transition: all .3s;
  -ms-overflow-style: none;
}

#portfolio .playPortFolio.PPactiveEnd {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: all .3s;
  -ms-overflow-style: none;
}

/* -------------------------------playPortFolio Title------------------------------- */
.portfolioTitle {
  position: absolute;
  top: 1vw;
  color: #666;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}


/* -------------------------------close, next, prev Buttons------------------------------- */
.closeBtnWrapper {
  position: absolute;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1vw;
  right: 1vw;
  z-index: 100;
}

.closeBtnWrapper .closeCircleIcon,
.PFItemsPrevBtn,
.PFItemsNextBtn {
  width: 4vw;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  transition: all .3s ease;
  background: #00000040;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #ffffff40;
  box-shadow: 0 4px 15px #00000010;
}

.closeBtnWrapper .closeCircleIcon {
  background: #ccc;
}

.closeBtnWrapper .closeCircleIcon::before,
.closeBtnWrapper .closeCircleIcon::after,
.PFItemsPrevBtn::before,
.PFItemsPrevBtn::after,
.PFItemsNextBtn::before,
.PFItemsNextBtn::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #ffffff;
  transition: all .3s;
}

.closeBtnWrapper .closeCircleIcon::before {
  width: 60%;
  transform: rotate(45deg);
}

.closeBtnWrapper .closeCircleIcon::after {
  width: 60%;
  transform: rotate(-45deg);
}

.PFItemsPrevBtn,
.PFItemsNextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.PFItemsPrevBtn::before,
.PFItemsPrevBtn::after,
.PFItemsNextBtn::before,
.PFItemsNextBtn::after {
  width: 35%;
  left: 50%;
  transform-origin: center;
}

.PFItemsPrevBtn::after {
  transform: translate(-60%, -0.47vw) rotate(-45deg);
}

.PFItemsPrevBtn::before {
  transform: translate(-60%, 0.47vw) rotate(45deg);
}

.PFItemsNextBtn::after {
  transform: translate(-40%, 0.47vw) rotate(-45deg);
}

.PFItemsNextBtn::before {
  transform: translate(-40%, -0.47vw) rotate(45deg);
}

.PFItemsPrevBtn {
  left: 1.5vw;
}

.PFItemsNextBtn {
  right: 1.5vw;
}

.closeBtnWrapper .closeCircleIcon:hover,
.PFItemsPrevBtn:hover,
.PFItemsNextBtn:hover {
  background: #00000040;
  border-color: #ffffff;
  box-shadow: 0 8px 25px #00000025;
}

.closeBtnWrapper .closeCircleIcon:hover::before,
.closeBtnWrapper .closeCircleIcon:hover::after,
.PFItemsPrevBtn:hover::before,
.PFItemsPrevBtn:hover::after,
.PFItemsNextBtn:hover::before,
.PFItemsNextBtn:hover::after {
  background-color: #ffffff;
}

/* -------------------------------portfolioItemContainer------------------------------- */

.portfolioItemContainer {
  position: relative;
  width: 100vw;
  height: 35vw;
  transform: translateX(-20vw);
}

.portfolioItem {
  flex: 0 0 var(--item-width-vw);
  width: var(--item-width-vw);
  aspect-ratio: 210 / 297;
  margin: 0 6px;
  box-shadow: 4px 4px 10px #ccc;
  position: absolute;
  top: var(--item-top);
  left: 0;
  will-change: transform;
  background-color: #fff;
  display: block;

  --item-index: 0;
  --item-scale: 1;
  --item-rotate: 0deg;
  --item-top: 0;
  --item-offset: 0;

  transform:
    translateX(calc((var(--item-index) * (var(--item-width-vw) + 8px)) + (var(--item-offset-factor) * var(--item-offset-unit)))) translateY(calc(var(--item-top-factor) * var(--item-top-unit))) rotate(calc(var(--item-rotate-factor) * var(--item-rotate-unit))) scale(var(--item-scale));
}

.portfolioItem:nth-child(1) {
  z-index: 0;
}

.portfolioItem:nth-child(2) {
  z-index: 1;
}

.portfolioItem:nth-child(3) {
  z-index: 2;
}

.portfolioItem:nth-child(4) {
  z-index: 3;
}

.portfolioItem:nth-child(5) {
  z-index: 4;
}

.portfolioItem:nth-child(6) {
  z-index: 3;
}

.portfolioItem:nth-child(7) {
  z-index: 2;
}

.portfolioItem:nth-child(8) {
  z-index: 1;
}

.portfolioItem:nth-child(9) {
  z-index: 0;
}

.portfolioItem:nth-child(10) {
  z-index: -1;
}

.portfolioItem:nth-child(11) {
  display: none
}

.portfolioItem:nth-child(12) {
  display: none
}

.portfolioItem:nth-child(13) {
  display: none
}

/* -------------------------------//portfolioItemContainer------------------------------- */

/* -------------------------------//playPortFolio------------------------------- */
.hiddenScrollBar::-webkit-scrollbar {
  display: none;
}

.hiddenScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* -------------------------------viewBtnCon------------------------------- */
.viewBtnCon {
  position: absolute;
  bottom: 3vw;
  transition: opacity .3s;
}

.viewBtnCon .btn-primary {
  padding: 10px 12px;
  border-radius: 9999px;
}

.links {
  display: none;
}


/* -------------------------------technicalExperience------------------------------- */

#technicalExperience {
  padding: 100px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100 */
  background: rgb(107, 77, 168);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(107, 77, 168, 1) 0%, rgba(73, 119, 194, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(107, 77, 168, 1) 0%, rgba(73, 119, 194, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(107, 77, 168, 1) 0%, rgba(73, 119, 194, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1);
  /* IE6-9 */
}

#technicalExperience h2 {
  color: #fff;
}

#technicalExperience hr {
  background: rgba(255, 255, 255, 0.3);
}

#technicalExperience .TEItemWrap {
      display: flex;
    flex-flow: row wrap;
    column-gap: 1%;
    row-gap: 16px;
}

#technicalExperience .TEItemWrap .TEItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(97% / 4);
  background-color: #fff;
  aspect-ratio: 1 / 1;
  position: relative;
  box-shadow: 4px 4px 8px #00000030;
  opacity: 1;
  transform: scale(1);
  transition: all .3s;
}

#technicalExperience .TEItemWrap .TEItem .hover-bg {
  cursor: pointer;
}

#technicalExperience .TEItemWrap .TEItem .hover-bg .hover-text {
  left: 0;
}


#technicalExperience .TEItemDescWrap {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #00000010;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 4px 4px 10px #00000025;
  display: none;
  opacity: 0;
  transition: all .3s;
  min-width: 25vw;
}
#technicalExperience .TEItemDescWrap.active {
  display: flex;
  opacity: 1;
}

#technicalExperience .TEItemDescWrap .TEItemDesc {
  display: flex;
  flex-flow: column;
  row-gap: 36px;
  text-align: left;
  width: 100%;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescTop .TEItemDescCloseBtn {
  width: 24px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescTop .TEItemDescCloseBtn:hover svg line {
  stroke: #000;
  transition: stroke .3s;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescCon {}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescCon .TEItemDescConTitle {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -1px;
  margin: 0 0 12px 0;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescCon .TEItemDescConText {
  font-size: 16px;
  letter-spacing: -.3px;
  font-weight: 300;
  color: #666;
  text-wrap: nowrap;
  margin: 0;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescStacks {}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescStacks .TEItemDescStacksTittle {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -1px;
  margin: 0 0 12px 0;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescStacks .TEItemDescStackList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescBtns {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescBtns>* {
  padding: 6px 24px;
  border-radius: 8px;
  font-size: 16px;
  transition: all .3s;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescBtns .TEItemDescLinks {
  color: #fff;
  background-color: #526cbb;
  border: 1px solid #fff;
  display: none;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescBtns .TEItemDescLinks:hover {
  color: #526cbb;
  background-color: #fff;
  border: 1px solid #526cbb;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescBtns .TEItemDescCloseBtn {
  color: #526cbb;
  background-color: #fff;
  border: 1px solid #526cbb;
}

#technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescBtns .TEItemDescCloseBtn:hover {
  color: #fff;
  background-color: #526cbb;
  border: 1px solid #fff;
}

#technicalExperience .TEItemWrap #TEBG {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000050;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
}

#technicalExperience .TEItemWrap #TEBG.active {
  display: block;
}


/* -------------------------------//technicalExperience------------------------------- */




/* -------------------------------반응형 UI------------------------------- */
:root {
  --item-width-vw: 15vw;
  --item-top-unit: 1vw;
  --item-rotate-unit: 1deg;
  --item-offset-unit: 1vw;
}

/* -------------------------------@media (max-width: 1440px)------------------------------- */
@media (max-width: 1440px) {
  :root {
    --item-width-vw: 18vw;
    --item-top-unit: 1vw;
    --item-rotate-unit: 0.8deg;
    --item-offset-unit: 1vw;
  }

  .portfolioItemContainer {
    transform: translateX(-34vw);
    height: 45vw;
  }
}

/* -------------------------------@media (max-width: 1024px)------------------------------- */
@media (max-width: 1024px) {
  :root {
    --item-width-vw: 23vw;
    --item-top-unit: 1.4vw;
    --item-rotate-unit: 0.8deg;
    --item-offset-unit: 1vw;
  }

  .portfolioItemContainer {
    transform: translateX(-56vw);
    height: 54vw;
  }

  .PFItemsPrevBtn,
  .PFItemsNextBtn {
    transform: translateY(-50%) scale(1.5);
  }

  .closeBtnWrapper {
    top: 1.5vw;
    right: 1.5vw;
  }

  .closeBtnWrapper .closeCircleIcon {
    transform: scale(1.5);
  }
}

/* -------------------------------@media (max-width: 768px)------------------------------- */
@media (max-width: 768px) {
  :root {
    --item-width-vw: 30vw;
    --item-top-unit: 1.9vw;
    --item-rotate-unit: 0.8deg;
    --item-offset-unit: 1vw;
  }

  .portfolioItemContainer {
    transform: translateX(-90vw);
    height: 93vw;
  }

  .closeBtnWrapper {
    top: 3.5vw;
    right: 3.5vw;
  }

  .closeBtnWrapper .closeCircleIcon {
    transform: scale(2);
  }

  .PFItemsPrevBtn,
  .PFItemsNextBtn {
    transform: translateY(-50%) scale(2);
  }

  .PFItemsNextBtn {
    right: 3.5vw;
  }

  .PFItemsPrevBtn {
    left: 3.5vw;
  }

  .closeBtnWrapper .closeCircleIcon::before,
  .closeBtnWrapper .closeCircleIcon::after,
  .PFItemsPrevBtn::before,
  .PFItemsPrevBtn::after,
  .PFItemsNextBtn::before,
  .PFItemsNextBtn::after {
    height: 1px;
  }

  #technicalExperience .TEItemWrap .TEItem {
    width: calc(99% / 2);
    padding: 12px;
  }

  #customAbout .customRow {
        flex-flow: column;
    align-items: center;
  }
  #customAbout .about-text {
    text-align: center;
  }

  #technicalExperience .TEItemDescWrap .TEItemDesc .TEItemDescCon .TEItemDescConText {
    text-wrap: wrap;
    font-size: 14px;
  }
  #technicalExperience .TEItemDescWrap {
    min-width: none;
  }
  .portfolioContainer .viewBtnCon {
    bottom: 10vw;
  }

}

/* -------------------------------@media (max-width: 480px)------------------------------- */
@media (max-width: 480px) {
  :root {
    --item-width-vw: 45vw;
    --item-top-unit: 2.9vw;
    --item-rotate-unit: 0.8deg;
    --item-offset-unit: 1vw;
  }

  .portfolioItemContainer {
    transform: translateX(-160vw);
    height: 35vh;
  }

  #portfolio .playPortFolio.PPactive {
    align-items: center;
  }

  .closeBtnWrapper {
    top: 5.5vw;
    right: 5.5vw;
  }

  .closeBtnWrapper .closeCircleIcon {
    transform: scale(3);
  }

  .PFItemsPrevBtn,
  .PFItemsNextBtn {
    transform: translateY(-50%) scale(3);
  }

  .PFItemsNextBtn {
    right: 5.5vw;
  }

  .PFItemsPrevBtn {
    left: 5.5vw;
  }

    .portfolioContainer .viewBtnCon {
    bottom: 20vw;
  }
}

/* -------------------------------rotateBorder Animation------------------------------- */
@keyframes rotateBorder {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}