/* header */
/* 모바일 메뉴 */
header .moblie_menu_btn {display: none;}
header .moblie_menu_btn #moblie_close_btn_img {display: none;}
header .mobile_menu {
    position: absolute;
    background-color: #fff;
    top: 80px;
    width: 150px;
    height: 0;
    transform: translateX(-10px);
    overflow: hidden;
    transition: all 0.5s;
}
header .mobile_menu .menu1_mobile .active {color: #f00;}
header .mobile_menu .menu1_mobile{
    margin-bottom: 20px;
}
header .mobile_menu .menu1_mobile,
header .mobile_menu .menu2_mobile {
    padding-left: 10px;
}
header .mobile_menu .menu1_mobile .menu1_mobile_part {
    display: block;
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-family: 'Kanit';
    font-size: 1.3rem;
}
header .mobile_menu .menu1_mobile .menu1_mobile_part:hover {
    border-bottom: 1px solid #333;
}
header .mobile_menu .menu2_mobile {}
header .mobile_menu .menu2_mobile .menu2_mobile_part {
    display: block;
    margin-bottom: 10px;
}

/* 검색팝업 */
#search_slide {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 901;
    overflow: hidden;
    transition: all 0.5s;
    height: 0;
}
#search_slide .search_slide_bg {
    background-color: #fff;
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid #999;
    border-radius: 10px;
}

#search_slide .search_slide_bg .search_slide_top {}
#search_slide .search_slide_bg .search_slide_top h3 {
    text-align: center; font-size: 1.5rem;
    margin-bottom: 30px;
}
#search_slide .search_slide_bg .search_slide_top .close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
#search_slide .search_slide_bg .search_slide_inner {
    text-align: center;
}
#search_slide .search_slide_bg .search_slide_inner > input {
    border: 1px solid #999;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#search_slide .search_slide_bg .search_slide_inner #p_category {
    display: block; border: 1px solid #999;
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
}
#search_slide .search_slide_bg .search_slide_inner #p_category option {}
#search_slide .search_slide_bg .search_slide_inner .select_price {
    margin-bottom: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}
#search_slide .search_slide_bg .search_slide_inner .select_price span:nth-child(3),
#search_slide .search_slide_bg .search_slide_inner .select_price span:nth-child(6) {
    width: 10%;
    text-align: left;
}
#search_slide .search_slide_bg .search_slide_inner .select_price p {
    color: #999;
}
#search_slide .search_slide_bg .search_slide_inner .select_price p:first-child {
    width: 20%;
}
#search_slide .search_slide_bg .search_slide_inner .select_price input {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    padding-left: 5px;
}
#search_slide .search_slide_bg .search_slide_inner .select_sequence {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 100px;
}
#search_slide .search_slide_bg .search_slide_inner .select_sequence a {
    height: 12px;
}
#search_slide .search_slide_bg .search_slide_inner .select_sequence a:hover {
    border-bottom: 1px solid #333;
}
#search_slide .search_slide_bg .search_slide_inner button {
    width: 50%;
    height: 30px;
    border: 1px solid #000;
    transition: all 0.5s;
}
#search_slide .search_slide_bg .search_slide_inner button:hover {
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    left: 0; top: 0;
    z-index: 900;
    background-color: #fff;
    box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
}
header h1 {}
header h1 a {}
header h1 a img {}
header .menu1 {}
header .menu1 a {
    font-family: 'Kanit';
    margin-right: 10px;
    font-size: 1.3rem;
    transition: border-bottom 0.5s;
}
header .menu1 a:last-child {padding: 0;}
header .menu1 a.active {color: #f00;}
header .menu1 a:hover{
    color: #f00;
}
header .menu2 { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .menu2 a {margin-right: 15px; font-size: 0.85rem;}
header .menu2 a:last-child {margin: 0; display: flex;}

header .menu2 a img {}

/* main */
main::before {
    content: '';
    display: block;
    height: 80px;
    width: 100%;
}

/* footer */
#footer_bg {
    width: 100%;
    background-color: #000;
    color: #ccc;
    padding: 30px 50px;
    margin-top: 100px;
}
#footer_bg footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#footer_bg footer .f_left {
    width: 20%;
}
#footer_bg footer .f_left h1 {}
#footer_bg footer .f_left h1 img {}
#footer_bg footer .f_left address {
    line-height: 1.3;
    margin: 30px 0;
}
#footer_bg footer .f_left address span {
    color: #fff;
}
#footer_bg footer .f_left p.copy {}
#footer_bg footer .f_center {}
#footer_bg footer .f_center p {line-height: 1.3;}
#footer_bg footer .f_center p span {color: #fff;}
#footer_bg footer .f_right {}
#footer_bg footer .f_right .f_right_top {margin-bottom: 50px;}
#footer_bg footer .f_right .f_right_btm {}
#footer_bg footer .f_right .f_right_top p {color: #fff; margin-bottom: 15px;}
#footer_bg footer .f_right .f_right_top a {color: #ccc; display: block; margin-bottom: 5px;}
#footer_bg footer .f_right .f_right_btm p {color: #fff; margin-bottom: 15px;}
#footer_bg footer .f_right .f_right_btm a {color: #ccc; display: block; margin-bottom: 5px;}