/* category_products */
main #category_products {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* nav_category */
main #category_products .nav_category {
    width: 177px;
    position: sticky;
    height: 300px;
    top: 100px;
    left: 0;
    background-color: #fff;
    z-index: 899;
}
main #category_products .nav_category h2 {}
main #category_products .nav_category .gnb {}
main #category_products .nav_category .gnb>li {}
main #category_products .nav_category .gnb>li>a:hover {background-color: #000; color: #fff;}
main #category_products .nav_category .gnb>li>a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    padding: 0 5px;
}
main #category_products .nav_category .gnb>li>.lnb {
    overflow: hidden;
}
main #category_products .nav_category .gnb>li>.lnb li {}
main #category_products .nav_category .gnb>li>.lnb li a:hover {
    color: #fff;
    background-color: #000;
}
main #category_products .nav_category .gnb>li>.lnb li a {
    display: block;
    padding: 12px 5px;
}

/* products */
main #category_products .products {width: 100%;}
/* products_top */
main #category_products .products .products_top {}
main #category_products .products .products_top h2 {}
main #category_products .products .products_top .more_btn {}
main #category_products .products .products_top .more_btn:hover {}
main #category_products .products .products_top .more_btn span {}
main #category_products .products .products_top .more_btn img.add {}
/* category_mobile */
main #category_products .products .category_mobile {display: none;}
main #category_products .products .category_mobile .category_row1,
main #category_products .products .category_mobile .category_row2 {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}
main #category_products .products .category_mobile .category_row1 a{
    border-bottom: 0;
}
main #category_products .products .category_mobile .category_row1 a,
main #category_products .products .category_mobile .category_row2 a {
    height: 30px;
    width: 50%;
    line-height: 30px;
    border: 1px solid #999;
    /* border-radius: 5px; */
    transition: all 0.5s;
}
main #category_products .products .category_mobile .category_row1 a:hover,
main #category_products .products .category_mobile .category_row2 a:hover{
    color: #fff;
    background-color: #000;
}

main #category_products .products .category_mobile .category_row2 {}
main #category_products .products .category_mobile .category_row2 a {}


/* products_btm */
main #category_products .products .products_btm {}
main #category_products .products .products_btm .p_row1,
main #category_products .products .products_btm .p_row2,
main #category_products .products .products_btm .p_row3,
main #category_products .products .products_btm .p_row4,
main #category_products .products .products_btm .p_row5 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
main #category_products .products .products_btm .p_row5{
    margin: 0 0 80px;
}
main #category_products .products .products_btm .p_row1 .lookbook {
    width: 45%;
    position: relative;
}
main #category_products .products .products_btm .p_row1 .lookbook .lookbook_img {
    height: 264px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/slide_test1.png);
    text-align: center; line-height: 264px;
    transition: filter 0.5s;
}
main #category_products .products .products_btm .p_row1 .lookbook .lookbook_txt {}
main #category_products .products .products_btm .p_row1 .lookbook .lookbook_txt span {
    font-size: 1.5rem;
    font-family: 'kanit';
}
main #category_products .products .products_btm .p_row1 .lookbook .lookbook_txt p {
    line-height: 1.7;
    margin-top: 5px;
}
main #category_products .products .products_btm .p_row1 .lookbook .lookbook_img .lookbook_overtxt {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Kanit';
    position: absolute;
    width: 100%;
    height: 264px;
    line-height: 264px;
}

/* products_btm 공통*/
main #category_products .products .products_btm .product {
    display: inline-block;
}
main #category_products .products .products_btm .product .p_img {
    background-image: url(../images/p1.jpg);
    width: 220px;
    height: 264px;
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
    margin-bottom: 15px;
}
main #category_products .products .products_btm .product:hover .p_img {
    background-image: url(../images/p1_hover.jpg);
}
main #category_products .products .products_btm .product .p_name {}
main #category_products .products .products_btm .product .p_price {
    margin: 10px 0;
    font-weight: 700;
}
main #category_products .products .products_btm .product .p_like {
    transition: color 0.5s;
    text-align: lr;
    display: inline-block;
}
main #category_products .products .products_btm .product .p_like:hover {color: red;}
main #category_products .products .products_btm .product .p_like::after {
    content: '\f004';
    font-family:"Font Awesome 5 Free";
    font-size: 1.3rem;
    font-weight: 600;
}
/* r1 */
main #category_products .products .products_btm .p_row1 .product_1_2 .p_img {
    background-image: url(../images/p2.jpg);
}
main #category_products .products .products_btm .p_row1 .product_1_2:hover .p_img {
    background-image: url(../images/p2_hover.jpg);
}
/* r2 */
main #category_products .products .products_btm .p_row2 .product:nth-child(1) .p_img {
    background-image: url(../images/p3.jpg);
}
main #category_products .products .products_btm .p_row2 .product:nth-child(1):hover .p_img {
    background-image: url(../images/p3_hover.jpg);
}
main #category_products .products .products_btm .p_row2 .product:nth-child(2) .p_img {
    background-image: url(../images/p4.jpg);
}
main #category_products .products .products_btm .p_row2 .product:nth-child(2):hover .p_img {
    background-image: url(../images/p4_hover.jpg);
}
main #category_products .products .products_btm .p_row2 .product:nth-child(3) .p_img {
    background-image: url(../images/p5.jpg);
}
main #category_products .products .products_btm .p_row2 .product:nth-child(3):hover .p_img {
    background-image: url(../images/p5_hover.jpg);
}
main #category_products .products .products_btm .p_row2 .product:nth-child(4) .p_img {
    background-image: url(../images/p6.jpg);
}
main #category_products .products .products_btm .p_row2 .product:nth-child(4):hover .p_img {
    background-image: url(../images/p6_hover.jpg);
}
/* r3 */
main #category_products .products .products_btm .p_row3 .product:nth-child(1) .p_img {
    background-image: url(../images/p7.jpg);
}
main #category_products .products .products_btm .p_row3 .product:nth-child(1):hover .p_img {
    background-image: url(../images/p7_hover.jpg);
}
main #category_products .products .products_btm .p_row3 .product:nth-child(2) .p_img {
    background-image: url(../images/p8.jpg);
}
main #category_products .products .products_btm .p_row3 .product:nth-child(2):hover .p_img {
    background-image: url(../images/p8_hover.jpg);
}
main #category_products .products .products_btm .p_row3 .product:nth-child(3) .p_img {
    background-image: url(../images/p9.jpg);
}
main #category_products .products .products_btm .p_row3 .product:nth-child(3):hover .p_img {
    background-image: url(../images/p9_hover.jpg);
}
main #category_products .products .products_btm .p_row3 .product:nth-child(4) .p_img {
    background-image: url(../images/p10.jpg);
}
main #category_products .products .products_btm .p_row3 .product:nth-child(4):hover .p_img {
    background-image: url(../images/p10_hover.jpg);
}
/* r4 */
main #category_products .products .products_btm .p_row4 .product:nth-child(1) .p_img {
    background-image: url(../images/p11.jpg);
}
main #category_products .products .products_btm .p_row4 .product:nth-child(1):hover .p_img {
    background-image: url(../images/p11_hover.jpg);
}
main #category_products .products .products_btm .p_row4 .product:nth-child(2) .p_img {
    background-image: url(../images/p12.jpg);
}
main #category_products .products .products_btm .p_row4 .product:nth-child(2):hover .p_img {
    background-image: url(../images/p12_hover.jpg);
}
main #category_products .products .products_btm .p_row4 .product:nth-child(3) .p_img {
    background-image: url(../images/p13.jpg);
}
main #category_products .products .products_btm .p_row4 .product:nth-child(3):hover .p_img {
    background-image: url(../images/p13_hover.jpg);
}
main #category_products .products .products_btm .p_row4 .product:nth-child(4) .p_img {
    background-image: url(../images/p14.jpg);
}
main #category_products .products .products_btm .p_row4 .product:nth-child(4):hover .p_img {
    background-image: url(../images/p14_hover.jpg);
}
/* r5 */
main #category_products .products .products_btm .p_row5 .product:nth-child(1) .p_img {
    background-image: url(../images/p15.jpg);
}
main #category_products .products .products_btm .p_row5 .product:nth-child(1):hover .p_img {
    background-image: url(../images/p15_hover.jpg);
}
main #category_products .products .products_btm .p_row5 .product:nth-child(2) .p_img {
    background-image: url(../images/p16.jpg);
}
main #category_products .products .products_btm .p_row5 .product:nth-child(2):hover .p_img {
    background-image: url(../images/p16_hover.jpg);
}
main #category_products .products .products_btm .p_row5 .product:nth-child(3) .p_img {
    background-image: url(../images/p17.jpg);
}
main #category_products .products .products_btm .p_row5 .product:nth-child(3):hover .p_img {
    background-image: url(../images/p17_hover.jpg);
}
main #category_products .products .products_btm .p_row5 .product:nth-child(4) .p_img {
    background-image: url(../images/p18.jpg);
}
main #category_products .products .products_btm .p_row5 .product:nth-child(4):hover .p_img {
    background-image: url(../images/p18_hover.jpg);
}

main #category_products .products .products_btm .numbers {text-align: center;}
main #category_products .products .products_btm .numbers a {padding: 15px;}
main #category_products .products .products_btm .numbers a:hover {color: #fff; background-color: #000;}

main #category_products .products .products_btm .numbers a.active {border-bottom: 1px solid #999;}