@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
*{box-sizing: border-box;}
html,body,h1,h2,h3,h4,h5,h6,
p,div,em,sup,sub,code,hr,strong,span,q,blockquote,
header,footer,aside,nav,article,section,figure,main,
img,a,table,tr,td,th,thead,tbody,tfooter,
ul,ol,li,dl,dt,dd,address,
form,fieldset,legend,input,button,select,option,textarea {
    margin: 0; padding: 0; line-height: 1.0;
    font-size: 0.85rem; font-style: normal; font-weight: normal;
    font-family: 'Nanum Gothic', sans-serif;
    border: 0;
}
ul,ol,li {list-style: none;}
table,tr,th,td {border-collapse: collapse;}
th {text-align: center;}
a {color: #000; text-decoration: none;}
textarea {resize: none; border: 0; background: none;}
fieldset {border: 0;}
input,button {cursor: pointer; /* background: none; border: 0; */}
button {cursor: pointer; background: none; border: 0;}
.skip {display: none;}