main {
    width: 1440px;
    margin: 50px auto 0;
}
main .collection_wrap {}
main .collection_wrap .c_row1, 
main .collection_wrap .c_row2,
main .collection_wrap .c_row3,
main .collection_wrap .c_row4 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 120px;
}
main .collection_wrap .collection {
    width: 45%;
}
main .collection_wrap .collection:hover .collection_img {
    opacity: 0.8;
    transform: scale(110%);
}
main .collection_wrap .collection .collection_img {
    transition: all 0.5s;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    background-image: url(../images/collection1.jpg);
}
main .collection_wrap .collection .collection_txt {
    font-size: 1rem;
}

main .collection_wrap .c_row1 .collection:nth-child(2) .collection_img {
    background-image: url(../images/collection2.jpg);
}

main .collection_wrap .c_row2 .collection:nth-child(1) .collection_img {
    background-image: url(../images/collection3.jpg);
}
main .collection_wrap .c_row2 .collection:nth-child(2) .collection_img {
    background-image: url(../images/collection4.jpg);
}
main .collection_wrap .c_row3 .collection:nth-child(1) .collection_img {
    background-image: url(../images/collection5.jpg);
}
main .collection_wrap .c_row3 .collection:nth-child(2) .collection_img {
    background-image: url(../images/collection16.jpg);
}
main .collection_wrap .c_row4 .collection:nth-child(1) .collection_img {
    background-image: url(../images/collection7.png);
}
main .collection_wrap .c_row4 .collection:nth-child(2) .collection_img {
    background-image: url(../images/collection8.jpg);
}