main::after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
}
main h1 {text-align: center; margin: 50px auto 30px;}
main h1 a {height: 80px;}
main h1 a img {}

main {width: 500px; margin: 0 auto;}
main #loginfrm {border-bottom: 1px solid #ccc; margin-bottom: 20px; padding-bottom: 20px;}
main #loginfrm fieldset {}
main #loginfrm fieldset ul {}
main #loginfrm fieldset ul li {
    border: 1px solid #ccc; background: #fff;
    display: flex; flex-flow: row nowrap;
    margin-bottom: 10px;
    position: relative;
}
main #loginfrm fieldset ul li.error {
    color: red; padding: 10px 5px; display: none;
}
main #loginfrm fieldset ul li.id_error {border: 0;}
main #loginfrm fieldset ul li.pw_error {border: 0;}
main #loginfrm fieldset ul li .id_bg {
    border-right: 1px solid #ccc;
    padding: 20px; width: 50px;
    background-color: #f5f5f5;
    position: relative;
}
main #loginfrm fieldset ul li .id_bg::after{
    content: ''; display: block;
    background-image: url(../images/sub_login_icon.svg);
    background-position: 0 0;
    width: 21px; height: 21px;
    position: absolute; left: 14px; top: 11px;
}
main #loginfrm fieldset ul li .pw_bg {
    border-right: 1px solid #ccc;
    padding: 20px; width: 50px;
    background-color: #f5f5f5;
    position: relative;
}
main #loginfrm fieldset ul li .pw_bg::after {
    content: ''; display: block;
    background-image: url(../images/sub_login_icon.svg);
    background-position: 0 0;
    width: 21px; height: 21px;
    position: absolute; left: 14px; top: 11px;
}
main #loginfrm fieldset ul li input {width: 100%; height: 40px; border: 0; padding-left: 5px;}
main #loginfrm fieldset ul li input::placeholder {font-size: 0.95rem; color: #aaa;}
main #loginfrm fieldset ul li input[type=text] {}
main #loginfrm fieldset ul li input[type=password] {}
main #loginfrm fieldset .btm {
    display: flex; flex-flow: row nowrap;
    padding: 15px 0 30px; justify-content: space-between;
}
main #loginfrm fieldset .btm p {}
main #loginfrm fieldset .btm p label {}
main #loginfrm fieldset .btm p label input[name=login_y] {appearance: none;}
main #loginfrm fieldset .btm p label input[name=login_y] + span::before {
    background-color: #fff;
    border: 1px solid #ccc;
    content: ''; display: inline-block;
    width: 17px; height: 17px;
    background-image: url(../images/sub_login_icon.svg);
    background-position: -65px -22px;
    margin-right: 5px;
    transform: translateY(5px);
}
main #loginfrm fieldset .btm p label input[name=login_y]:checked + span::before {
    background-position: -84px -21px;
}
main #loginfrm fieldset .btm p label span {font-size: 1rem; color: #999;}
main #loginfrm fieldset .btm .idpw_search {color: #999; margin-top: 10px;}
main #loginfrm fieldset .btm .idpw_search:hover {color: #000;}
main #loginfrm fieldset #login_btn {
    background: #333;
    width: 100%; color: #fff; padding: 20px 0;
}
main #join_link {
    border: 1px solid #333;
    display: block; text-align: center; background: #fff; padding: 20px 0; width: 100%;
}

main .copy {color: #333; text-align: center; font-size: 0.85rem; margin-top: 20px;}



