#order_wrap {
    width: 1000px; margin: 50px auto 0;
    justify-content: space-around;
}
#order_wrap .left {
    position: relative;
    width: 500px;
}
#order_wrap .left img {width: 500px;}
#order_wrap .left .left_btm {}
#order_wrap .left .left_btm h1 {
    font-size: 3.0rem; padding: 100px 0;
    font-weight: 700;
}
#order_wrap .left .left_btm img {}

#order_wrap .left .right {
    background-color: #fff;
    position: fixed;
    top: 130px; left: 52%;
    width: 500px;
}
#order_wrap .right .top {width: 100%;}
#order_wrap .right .top h1 {font-size: 1.2rem; padding-bottom: 30px;}
#order_wrap .right .top > p:nth-child(2) {color: #aaa; margin-bottom: 20px;}
#order_wrap .right .top > p:nth-child(3) {
    color: #aaa; margin-bottom: 10px; padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}
#order_wrap .right .top > p:nth-child(2),
#order_wrap .right .top > p:nth-child(3){color: #aaa; margin-bottom: 15px; line-height: 1.5;}
#order_wrap .right .top dl {
    display: flex;
    flex-flow: row wrap;
}
#order_wrap .right .top dl dt {width: 30%; font-size: 1rem;}
#order_wrap .right .top dl dd {width: 70%;}
#order_wrap .right .top dl dt,
#order_wrap .right .top dl dd {padding: 20px 0;}
#order_wrap .right .top dl dd.price {}
#order_wrap .right .top dl dd > select {
    width: 100px; height: 25px;
    border: 1px solid #aaa;
}
#order_wrap .right .top .number {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; padding: 10px 0; margin: 10px 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#order_wrap .right .top .number .order_name {}
#order_wrap .right .top .number .order_number {}
#order_wrap .right .top .number .order_number #order_btn_num {
    border: 1px solid #333;
    background-color: #000;
    color: #fff;
    padding: 6px;
}
#order_wrap .right .top .number .order_number input[name=num] {
    width: 50px; padding: 5px;
    border: 1px solid #ddd;
}
#order_wrap .right .top .number .order_number .number_price {}
#order_wrap .right .top .total_price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 0;
}
#order_wrap .right .top .total_price p {}
#order_wrap .right .top .total_price p:nth-child(1) {}
#order_wrap .right .top .total_price .result_price {font-size: 1.2rem;}
#order_wrap .right .bottom {
    text-align: right; padding: 20px 0;
    display: flex;
}
#order_wrap .right .bottom button {
    display: block;
    padding: 15px 0;
    margin-left: 10px;
}
#order_wrap .right .bottom #order_btn:hover {
    background-color: #000;
    color: #fff;
}
#order_wrap .right .bottom #cart_btn:hover {
    background-color: #000;
    color: #fff;
}
#order_wrap .right .bottom #order_btn {
    width: 150px; color: #000; height: 40px;
    border: 1px solid #333; margin: 0;
    transition: all 0.3s;
}
#order_wrap .right .bottom #cart_btn {
    width: 120px; color: #000; height: 40px;
    border: 1px solid #333;
    transition: all 0.3s;
}
#order_wrap .right .bottom #like_btn {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    transition: color 0.3s;
}
#order_wrap .right .bottom #like_btn:hover {
    color: red;
}
#order_wrap .right .bottom #like_btn::after {
    content: '\f004';
    font-family:"Font Awesome 5 Free";
    font-size: 1.0rem;
    font-weight: 600;
}
#mobile_order {
    display: none;
}