.main_slide_wrap {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.main_slide_container {
    display: flex;
    will-change: transform;
    transition: transform 500ms ease;
}

.main_slide_container .main_slide {
    height: 45vw;
    width: 100vw;
    flex: 0 0 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_slide .slide_contents {
    position: absolute;
    right: 20%;
    top: 25%;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.main_slide .slide_contents h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
}

.main_slide .slide_contents h3 span {
    display: block;
    margin: 48px 0 0;
    font-size: 4rem;
    font-weight: 700;
}

.main_slide .slide_contents p.date {}

.main_slide:nth-child(2) .slide_contents h3 {
    color: #fff;
}

.main_slide:nth-child(2) .slide_contents h3 span {
    color: #fff;
}

.main_slide:nth-child(2) .slide_contents p {
    color: #fff;
}

.main_slide .slide_contents a {
    display: flex;
    color: #333;
    border: 1px solid #333;
    width: 50%;
    padding: 12px;
    border-radius: 999999px;
    transition: all 0.3s;
    margin-top: 64px;
    align-items: center;
    justify-content: center;
}

.main_slide .slide_contents a:hover {
    background-color: #333;
    color: #fff;
}

.main_slide:nth-child(2) .slide_contents a {
    color: #fff;
    border-color: #fff;

}

.main_slide:nth-child(2) .slide_contents a:hover {
    background-color: #fff;
    color: #333;
}

.main_slide_container .main_slide:nth-child(1) {
    background-image: url(../images/main_bnr_01.jpg);
}

.main_slide_container .main_slide:nth-child(2) {
    background-image: url(../images/main_bnr_02.jpg);
}

.main_slide_container .main_slide:nth-child(3) {
    background-image: url(../images/main_bnr_03.jpg);
}


.slide_btn {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    border: 0;
    background: rgba(0, 0, 0, .45);
    color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    place-items: center;
}

.slide_btn.prev {
    left: 10px;
}

.slide_btn.next {
    right: 10px;
}

.slide_btn:hover {
    background: rgba(0, 0, 0, .6);
}

.slide_pagination {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
    width: min(320px, 80%);
}

.slide_pagination .bar {
    flex: 1;
    height: 4px;
    background: #00000040;
    border-radius: 2px;
    overflow: hidden;
}

.slide_pagination .bar .fill {
    display: block;
    height: 100%;
    width: 0%;
    background: #fff;
}


/* ------------------------------------------------------- Slide Images -------------------------------------------------------------- */



.main_slide_container .main_slide:nth-child(1) {
    background-image: url(../images/main_bnr_01.jpg);
}

.main_slide_container .main_slide:nth-child(2) {
    background-image: url(../images/main_bnr_02.jpg);
}

.main_slide_container .main_slide:nth-child(3) {
    background-image: url(../images/main_bnr_03.jpg);
}