main * {
    transition: all 0.5s;
}
#header_bg {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 900;
    transition: 0.5s;
    border-bottom: 1px solid #00000010;
}
#header_bg header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    min-height: 110px;
    margin: 0 auto;
}
#header_bg header .logos {
        display: flex;
    align-items: center;
    width: auto;
    justify-content: flex-start;
}
#header_bg header nav {width: 50%;}
#header_bg header nav .gnb {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
}
#header_bg header nav .gnb > li:hover>a {
    color: #F07D00;
}
#header_bg header nav .gnb > li {
    position: relative;
}
#header_bg header nav .gnb > li > a {
        display: flex;
    justify-content: center;
    width: 100%;
    min-width: 120px;
    min-height: 76px;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    align-items: center;
}
#header_bg header nav .gnb > li .lnb {
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 900;
}
#header_bg header nav .gnb > li .lnb li {}
#header_bg header nav .gnb > li .lnb li a:hover {
    color: #1b932a;
}
#header_bg header nav .gnb > li .lnb li a {
    display: block;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    font-weight: 700;
    min-height: 46px;
    color: #00000080;
    font-size: 14px;
}
#header_bg header nav .nav_bg {
    background: #fff;
    height: 376px;
    width: 100%;
    position: absolute;
    left: 0;
}
#header_bg header .group_logo {}
#header_bg header .group_logo img {}

/* main */
main {}
main>* {
    margin-bottom: 150px;
}
main>*:last-child {
    margin: 0;
    padding-bottom: 150px;
}
main {}
main .main_slide_wrap {
    width: 100%;
    height: 800px;
    overflow: hidden;
}
main .main_slide_wrap .main_slide_container {
    width: max-content;
    display: flex;
    transition: all 0.5s;
}
main .main_slide_wrap .main_slide_container .main_slide{
    height: 800px;
    width: 100vw;
    background-position: center;
    position: relative;
}
main .main_slide_wrap .main_slide_container .main_slide .slide_contents {
    position: absolute;
    right: 300px;
    top: 225px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}
main .main_slide_wrap .main_slide_container .main_slide h3 {
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 64px;
}
main .main_slide_wrap .main_slide_container .main_slide h3 span {
    display: block;
    margin-top: 64px;
    font-size: 3rem;
    font-weight: 700;
}
main .main_slide_wrap .main_slide_container .main_slide p {}

main .main_slide_wrap .main_slide_container .main_slide:nth-child(2) h3 {
    color: #fff;
}
main .main_slide_wrap .main_slide_container .main_slide:nth-child(2) h3 span {
    color: #fff;
}
main .main_slide_wrap .main_slide_container .main_slide:nth-child(2) p {
    color: #fff;
}

main .main_slide_wrap .main_slide_container .main_slide a {
    display: block;
    color: #333;
    border: 1px solid #333;
    width: 50%;
    padding: 12px;
    text-align: center;
    border-radius: 999999px;
    transition: all 0.3s;
    margin-top: 64px;
}
main .main_slide_wrap .main_slide_container .main_slide a:hover {
    background-color: #333;
    color: #fff;
}
main .main_slide_wrap .main_slide_container .main_slide:nth-child(2) a {
    color: #fff;
    border-color: #fff;

}
main .main_slide_wrap .main_slide_container .main_slide:nth-child(2) a:hover {
    background-color: #fff;
    color: #333;
}
main .main_slide_wrap .main_slide_container .main_slide:nth-child(1){
    background-image: url(../images/main_bnr_01.jpg);
}
main .main_slide_wrap .main_slide_container .main_slide:nth-child(2){
    background-image: url(../images/main_bnr_02.jpg);
}
main .main_slide_wrap .main_slide_container .main_slide:nth-child(3){
    background-image: url(../images/main_bnr_03.jpg);
}

main #event_wrap {
    max-width: 1440px;
    padding-top: 30px;
    margin: 0 auto;
}
main #event_wrap>h2 {
    text-align: center;
}
main>*>h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}
main #event_wrap .event_more {
        padding: 30px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
main #event_wrap .event_more .more_event {margin-bottom: 20px;}
main #event_wrap .event_more .more_event a {}
main #event_wrap .event_more .more_event a img {}
main #event_wrap .event_more .more_event a:hover img {
    transform: translateX(.5vw);
}
main #event_wrap .event_more .pagenation {}
main #event_wrap .event_more .pagenation a {}
main #event_wrap .event_more .pagenation a:nth-child(3) {display: none;}
main #event_wrap .event_more .pagenation a:nth-child(1) img {transform: rotate(180deg);}
main #event_wrap .event_more .pagenation a img {}
main #event_wrap #event_slide_wrap {
        width: 116%;
    float: left;
    overflow: hidden;
}
main #event_wrap #event_slide_wrap .event_slide_container {
    display: flex;
    transition: all 0.5s;
}
/* 이벤트 슬라이드 공통 */
main #event_wrap #event_slide_wrap .event_slide_container .slide {
    margin-right: 50px;
}
main #event_wrap #event_slide_wrap .event_slide_container .slide .slide_content {
    text-align: center;
}
main #event_wrap #event_slide_wrap .event_slide_container .slide .slide_content:hover .event_img {
    background-size: 120%;
}
main #event_wrap #event_slide_wrap .event_slide_container .slide .slide_content .event_img {
    width: 450px;
    height: 325px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    transition: all 0.5s ease;
}
main #event_wrap #event_slide_wrap .event_slide_container .slide .slide_content h2 {
    font-weight: 700;
    margin-bottom: 10px;
}
main #event_wrap #event_slide_wrap .event_slide_container .slide .slide_content p {}

main #event_wrap #event_slide_wrap .event_slide_container .slide1 .slide_content .event_img {
    background-image: url(../images/event_card_01.jpg);
}
main #event_wrap #event_slide_wrap .event_slide_container .slide2 .slide_content .event_img {
    background-image: url(../images/event_card_02.jpg);
}
main #event_wrap #event_slide_wrap .event_slide_container .slide3 .slide_content .event_img {
    background-image: url(../images/event_card_03.jpg);
}
main #event_wrap #event_slide_wrap .event_slide_container .slide4 .slide_content .event_img {
    background-image: url(../images/event_card_04.jpg);
}
main #event_wrap #event_slide_wrap .event_slide_container .slide5 .slide_content .event_img {
    background-image: url(../images/event_card_05.jpg);
}

main #product_event_wrap {
    clear: both;
    width: 1440px;
    margin: 0 auto;
}
main #product_event_wrap .p_event_title {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
main #product_event_wrap .p_event_title a {
    border: 1px solid #333;
    width: 15%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 0;
    position: relative;
    font-weight: 700;
    transition: all 0.5s;
}
main #product_event_wrap .p_event_title a:hover {
    color: #1b932a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-color:#F07D00;
}
main #product_event_wrap .p_event_title .active {
    color: #1b932a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-color: #F07D00;
}
main #product_event_wrap .p_event_title .active::after {
    display: block;
    content: '';
    width: 214px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -1px;
    left: 0px;
}

main #product_event_wrap .p_event_con {
    border: 1px solid #f07d00;
}
main #product_event_wrap .p_event_con .plusone {}
main #product_event_wrap .p_event_con .plustwo {display: none;}
main #product_event_wrap .p_event_con .wmdwjd {display: none;}
main #product_event_wrap .p_event_con .discount {display: none;}
main #product_event_wrap .p_event_con .pb_product {display: none;}

main #product_event_wrap .p_event_con {text-align: center;}
main #product_event_wrap .p_event_con h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 50px 0 50px;
    color: #1b932a;
}
main #product_event_wrap .p_event_con .plus1_pl {
    width: 1440px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 70px;
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1 {
    display: block;
    width: 150px;
    height: 200px;
    text-align: center;
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1:hover .p_bg {
    background-size: 60%;
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1 .p_bg {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 1px solid #333;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1 .p_bg1 {
    background-image: url(../images/plus1_p01.jpg);
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1 .p_bg2 {
    background-image: url(../images/plus1_p02.jpg);
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1 .p_bg3 {
    background-image: url(../images/plus1_p03.jpg);
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1 .p_bg4 {
    background-image: url(../images/plus1_p04.jpg);
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1 .p_bg5 {
    background-image: url(../images/plus1_p05.jpg);
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1 .p_name {
    padding: 10px 0;
}
main #product_event_wrap .p_event_con .plus1_pl .plus1_p1 .p_price {
    font-size: 1.1rem;
    font-weight: 700;
}


/* card_service_wrap */












/* introduce_store_wrap */
main .sns_introduce_bg {
    background-color: #f7f9fc;
    padding-top: 150px;
}
main #introduce_store_wrap {
    width: 1400px;
    margin: 0 auto;
}
main #introduce_store_wrap h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
main #introduce_store_wrap .introduce_store {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    width: max-content;
}
main #introduce_store_wrap .introduce_store .store_open::after {
    content: '';
    display: block;
    background-color: #d9d9d9;
    height: 300px;
    width: 1px;
    position: absolute;
    top: 0; right: -80px;
}
main #introduce_store_wrap .introduce_store .store_open {
    margin-right: 300px;
    width: 400px;
    height: 400px;
    text-align: center;
    margin-top: 100px;
    position: relative;
}
main #introduce_store_wrap .introduce_store .store_open .sopen_img {}
main #introduce_store_wrap .introduce_store .store_open .sopen_img::after {
    content: '\f1ad';
    display: block;
    font-family:"Font Awesome 5 Free";
    font-weight:600;
    font-size: 100px;
    color: #1b932a;
    margin-bottom: 30px;
}
main #introduce_store_wrap .introduce_store h3 {
    font-size: 1.5rem;
    padding-top: 10px;
    margin-bottom: 20px;
}
main #introduce_store_wrap .introduce_store p {
    padding: 10px 0;
    line-height: 1.7;
    color: #333;
}
main #introduce_store_wrap .introduce_store a.store_btn {
    display: flex;
    justify-content: center;
    border: 1px solid #333;
    color: #333;
    border-radius: 10px;
    margin: 0 auto;
    line-height: 50px;
    transition: all 0.5s;
    max-width: 250px;
}
main #introduce_store_wrap .introduce_store a.store_btn:hover {
    color: #fff;
    background-color: #333;
}

main #introduce_store_wrap .introduce_store .store_find {
    text-align: center;
    margin-top: 100px;
}
main #introduce_store_wrap .introduce_store .store_find .sfind_img {}
main #introduce_store_wrap .introduce_store .store_find .h3 {}
main #introduce_store_wrap .introduce_store .store_find .p {}
main #introduce_store_wrap .introduce_store .store_find a.store_btn {
    margin-top: 28px;
}

/* 공통 */
main #introduce_store_wrap .introduce_store .sfind_img::after {
    content: '\f3c5';
    display: block;
    font-family:"Font Awesome 5 Free";
    font-weight:600;
    font-size: 100px;
    color: #1b932a;
    margin-bottom: 30px;
}
main #introduce_store_wrap .introduce_store .h3 {}
main #introduce_store_wrap .introduce_store .p {}


main .sns_wrap {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 50px;
}
main .sns_wrap .sns_content {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 700px;
    z-index: 10;
}
main .sns_wrap .sns_content p {}
main .sns_wrap .sns_content p span {}
main .sns_wrap .sns_content .sns_imgs {}
main .sns_wrap .sns_content .sns_imgs a {margin-left: 20px;}
main .sns_wrap .sns_content .sns_imgs a img {}
main .sns_wrap .sns_bg {
    position: absolute;
    margin-left: 500px;
}
main .sns_wrap .sns_bg img {}

.footer_wrap{
    width: 100%;
    background-color: #333;
}
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    color: #d9d9d9;
    font-family: 'Nanum Gothic';
    font-size: 0.85rem;
}
footer a {
    color: #d9d9d9;
    font-size: 0.85rem;
    font-family: 'Nanum Gothic';
}
footer .f_left {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
footer .f_left img {}
footer .f_left img:first-child {
    transform: scale(80%);
    margin-bottom: 40px;
}
footer .f_left img:last-child {
    width: 108px;
}

footer .f_center {}
footer .f_center .f_c_top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
footer .f_center .customer {margin-right: 30px;}
footer .f_center .customer a:hover {color: #fff;}
footer .f_center .customer a {
    margin-right: 20px;
}
footer .f_center .customer a:last-child {
    margin: 0;
}
footer .f_center .recruit {}
footer .f_center .recruit a:hover {color: #fff;}
footer .f_center .recruit a {margin-right: 10px;}
footer .f_center .recruit a:last-child {margin: 0;}
footer .f_center p {
    font-size: 0.85rem;
    line-height: 1.7;
    font-family: "Nanum Gothic";
}

footer .f_right {}
footer .f_right .f_r_t {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
footer .f_right .f_r_t .qrcode {
    text-align: center;
    margin-right: 10px;
}
footer .f_right .f_r_t .qrcode img {}
footer .f_right .f_r_t .qrcode p {
    margin-top: 5px;
    font-size: 0.85rem;
}
footer .f_right .f_r_t .sitemap {
    display: flex;
    flex-flow: column nowrap;
}
footer .f_right .f_r_t .sitemap a:first-child {
    margin-bottom: 10px;
}
footer .f_right .f_r_t .sitemap a {}
footer .f_right .f_r_t .sitemap a:last-child {
    font-size: 1rem;
    color: #e30613;
}
footer .f_right .f_r_b {}
footer .f_right .f_r_b select {}
footer .f_right .f_r_b select option {}
footer .f_right .f_r_b button {
    color: #d9d9d9;
    border: 1px solid #f7f9fc;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
footer .f_right .f_r_b button:hover {
    background-color: #f7f9fc;
    color: #333;
}


