body > * {
    width: 1200px;
    margin: 0 auto;
}

/* header */
header h1 {}
header h1 a {
    background: url(../images/bg_logo.png) no-repeat left top;
    display: block; width: 85px; height: 30px;
    text-indent: -9999px;
}
header nav {}
header nav a{color: #fff; margin-left: 30px;}
header nav a:first-child {margin-left: 18px;}
header nav a span{
    background: url(../images/ico_rsv.png); 
    background-repeat: no-repeat;
    width: 16px; height: 14px;
    margin-left: 5px;
    display: inline-block;
}
header>a#mobile_nav {display: none;}
/* footer */
footer {
    padding: 80px 16px;
    background: #222;
    color: #fff;
}
footer .f_top,footer .f_btm {
    max-width: 1400px; min-width: 375px;
    margin: 0 auto;
}
footer .f_top {
    margin-bottom: 10px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
footer .f_top .menu {}
footer .f_top .menu a {color: #fff; font-size: 0.875rem;}
footer .f_top .menu a:last-child {}
footer .f_top .site {color: #fff;}
footer .f_btm {}
footer .f_btm p {
    color: #ccc;
    font-size: 0.750rem;
    font-weight: 300;
}
footer .f_btm p:nth-child(2) {
    margin: 8px 0;
}