/* animation */

@keyframes opacity{/* 페이지 실행 시 각 영역 등장용 */
    0% {opacity: 0; transform:translateY(-100px);}
    100%{opacity: 1; transform:translateY(0);}
}


main {width: 1400px; margin: 0 auto;}
main .title {
    margin: 150px 0 80px;
    opacity: 0;/* 초기설정 숨기기 */
    animation: opacity 0.5s both;
}
main .title  h1{
    text-transform: uppercase; font-size: 2.500rem;
    font-family: 'Noto Serif KR', serif;
    margin-bottom: 30px;
}
main .title  p{
    font-weight: 300;
}
main #tab_title {
    opacity: 0;/* 초기설정 숨기기 */
    animation: opacity 0.5s 0.5s both;
}
main #tab_title a {
    font-size: 1.250rem;
    text-transform: uppercase;
    margin-right: 20px;
    color: #ccc;
}
main #tab_title a::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #ccc;
    margin-left: 20px;
}
main #tab_title a:last-child::after {display: none;}
main #tab_title a:hover {
    color: #222;
}
main #tab_title a.active {
    color: #222;
}
main #tab_contents {
    opacity: 0;/* 초기설정 숨기기 */
    animation: opacity 0.5s 1s both;
}
main #tab_contents .tab_c {
    position: relative;
    margin: 150px 0;
}
main #tab_contents .tab_c .txt {}
main #tab_contents .tab_c .txt .sub_title {
    text-transform: uppercase;
    color: #7db2a6;
    margin-bottom: 20px;
    font-size: 0.813rem;
}
main #tab_contents .tab_c .txt h2 {
    text-transform: uppercase; font-size: 2.500rem;
    font-family: 'Noto Serif KR', serif;
    margin-bottom: 15px;
}
main #tab_contents .tab_c .txt h2 span {
    font-size: 3.125rem;
    text-transform: uppercase;
    font-family: 'Noto Serif KR', serif;
}
main #tab_contents .tab_c .txt .content {
    font-weight: 300;
    line-height: 1.7;
}
main #tab_contents .tab_c .txt .link {
    margin: 40px 0;
    display: flex;
    flex-flow: row nowrap;
}
main #tab_contents .tab_c .txt .link a {
    height: 50px;
    text-align: center;
}
main #tab_contents .tab_c .txt .link a.detail {
    border: 1px solid #fff;
    width: 150px;
    line-height: 50px;
    margin-right: 10px;
}
main #tab_contents .tab_c .txt .link a.detail:hover {
    border-radius: 20px;
    transition: all 0.5s;
}
main #tab_contents .tab_c .txt .link a.like {   
    width: 50px;
    border: 1px solid #eee;
    color: #fff;
}
main #tab_contents .tab_c .txt .link a.like:hover {
    border-radius: 20px;
    transition: all 0.5s;
    color: red;
}   
main #tab_contents .tab_c .txt .link a.like::after {
    content: '\f004';
    line-height: 46px;
    font-size: 1.6rem;
}
main #tab_contents .tab_c .photo {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;}

/* room */

main #tab_contents .room {}
main #tab_contents .room::before {
    content: '';
    display: block;
    width: 1000%;
    height: 700px;
    background: #164438;
    position: absolute;
    right: 0; top: -100px;
    z-index: -1;
}
main #tab_contents .room .txt {}
main #tab_contents .room .txt{color: #fff;}
main #tab_contents .room .txt {}
main #tab_contents .room .txt .sub_title {}
main #tab_contents .room .txt h2 {}
main #tab_contents .room .txt h2 span {}
main #tab_contents .room .txt .content {}
main #tab_contents .room .txt .link {}
main #tab_contents .room .txt .link a {color: #fff;}
main #tab_contents .room .txt .link a.detail {}
main #tab_contents .room .txt .link a.like {}
main #tab_contents .room .txt .link a.like::after {}
main #tab_contents .room .photo {}
main #tab_contents .room .photo {background-image: url(../images/bg_main01.jpg);}
/* kids */

main #tab_contents .kids {}
main #tab_contents .kids::before {
    content: '';
    display: block;
    width: 1000%;
    height: 700px;
    background: #e5cfc7;
    position: absolute;
    top: -100px;
    z-index: -1;
}
main #tab_contents .kids .txt {padding-left: 100px;}
main #tab_contents .kids .txt {}
main #tab_contents .kids .txt .sub_title {
    color: #997470;
}
main #tab_contents .kids .txt h2 {}
main #tab_contents .kids .txt h2 span {}
main #tab_contents .kids .txt .content {}
main #tab_contents .kids .txt .link {}
main #tab_contents .kids .txt .link a {}
main #tab_contents .kids .txt .link a.detail {border-color: #222;}
main #tab_contents .kids .txt .link a.like {
    color: #222;
    border-color: #777;
}
main #tab_contents .kids .photo {background-image: url(../images/bg_main02.jpg);}

/* suite */

main #tab_contents .suite {}
main #tab_contents .suite::before {
    content: '';
    display: block;
    width: 1000%;
    height: 700px;
    background: #164438;
    position: absolute;
    right: 0; top: -100px;
    z-index: -1;
}
main #tab_contents .suite .txt {color: #fff;}
main #tab_contents .suite .txt {}
main #tab_contents .suite .txt .sub_title {}
main #tab_contents .suite .txt h2 {}
main #tab_contents .suite .txt h2 span {}
main #tab_contents .suite .txt .content {}
main #tab_contents .suite .txt .link {}
main #tab_contents .suite .txt .link a {color: #fff;}
main #tab_contents .suite .txt .link a.detail {}
main #tab_contents .suite .txt .link a.like {}
main #tab_contents .suite .photo {background-image: url(../images/bg_main03.jpg);}