header {
    transition: all 0.5s;
    margin: 0 auto;
    width: 100%;
    height: 100px; 
    display: flex; 
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 16px;
    background: #b29d95;
    position: fixed; left: 0; top: 0; z-index: 900;
}