/* tablet */
@media screen and (max-width:1224px) {

    #h_bg header {width: calc(100% - 32px);}
    main > div > div {width: 100%;}
    #r4_bg #r4 .contents .tab_contents .tab1_c p {right: 0;}
}/* media tablet 1224 */

/* mobile 840 */
@media screen and (max-width:840px) {
    #h_bg header .h_right a:nth-child(1),
    #h_bg header .h_right a:nth-child(2),
    #h_bg header .h_right a:nth-child(3) {display: none;}
    main #r1_bg #r1 .view_category {
        width: calc(100% - 32px);
        flex-flow: column nowrap;
    }
    main #r1_bg #r1 .view_category a {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    main #r1_bg #r1 .view_category a:last-child {margin: 0;}
    main #r1_bg #r1 .view_group .view_contents1 {width: 100%;}
    main #r1_bg #r1 .view_group .view_contents1 #view_frm fieldset {flex-flow: column nowrap;}
    main #r1_bg #r1 .view_group .view_contents1 #view_frm fieldset input[name$=txt] {margin: 0;}
    main #r1_bg #r1 .view_group .view_contents1 #view_frm fieldset select[name=car_num],
    main #r1_bg #r1 .view_group .view_contents1 #view_frm fieldset input[name$=txt],
    main #r1_bg #r1 .view_group .view_contents1 #view_frm fieldset #view_btn {width: 100%; height: 60px;}

    main #r1_bg #r1 .view_group .view_contents1 .btm_list {
        flex-flow: column nowrap;
    }
    main #r1_bg #r1 .view_group .view_contents1 .btm_list .btm_menu {
        justify-content: space-around;
    }
    main #r1_bg #r1 .view_group .view_contents1 .btm_list .btm_menu a {
        padding: 10px 0;
    }
    main #r1_bg #r1 .view_group .view_contents1 .btm_list .sample_view {
        text-align: center;
        margin-top: 16px;
        padding: 20px 0;
    }
    main #r2_bg #r2 .contents {
        flex-flow: row wrap;
    }
    main #r2_bg #r2 .contents li {width: 40%; min-width: 180px; margin-bottom: 50px;}
    main #r2_bg #r2 .contents li:nth-child(2) {margin-right: 0;}

    main #r3_bg #r3 .contents {
        flex-flow: column nowrap;
        height: 332px;
    }
    main #r3_bg #r3 .contents li {
        width: calc(100% - 68px);
        margin: 0 auto 10px;
        height: 33.33%;
    }
    main #r3_bg #r3 .contents li:last-child {
        margin: 0 auto;
    }
    #r4_bg #r4 .contents .tab_contents .tab1_c p {width: 150px;}

    main #r5_bg #r5 .contents .tab_contents {}
    main #r5_bg #r5 .contents .tab_contents .tab1_c {
        display: flex; flex-flow: column nowrap;
        align-items: center;
    }
    main #r5_bg #r5 .contents .tab_contents .tab1_c .info {
        width: 100%;
    }
    main #r5_bg #r5 .contents .tab_contents .tab1_c .essential {
        width: 100%;
    }
}/* media mobile 840 */

/* mobile 480 */
@media screen and (max-width:480px) {
    
    main #r1_bg #r1{padding: 50px 0;}
    main #r1_bg #r1 h1, main #r1_bg #r1 h1 span {font-size: 1.25rem;}
    body * {font-size: 0.75rem;} /* 12px */
    #r4_bg #r4 .contents .tab_contents .tab1_c p{width: 120px;}
    }